<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>kazmas</string>
                </array>
                <key>CFBundleTypeIconFile</key>
                <string>icon.icns</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.kazmas.desktop.world</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>Kazmas World</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
            </dict>
        </array>
    </dict>
</plist>
