@import 'tailwindcss';
@import 'tw-animate-css';

@import './fonts.css';

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-ui: 'Geist', var(--font-sans);
    --font-document: 'Lora', var(--font-serif);
    --font-title: 'Allura', cursive;
}

@theme inline {
    --font-heading: var(--font-sans);

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-destructive: var(--destructive);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-ring: var(--ring);
    --color-editor: var(--editor);
    --color-editor-foreground: var(--editor-foreground);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

:root {
    --radius: 0.625rem;

    --background: oklch(0.973146 0 0);
    --foreground: oklch(0.555527 0 0);
    --primary: var(--foreground);
    --primary-foreground: var(--background);
    --secondary: oklch(0.949119 0 0);
    --secondary-foreground: var(--foreground);
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --muted: var(--secondary);
    --muted-foreground: oklch(0.485497 0 0);
    --destructive: oklch(0.611467 0.216934 20.84);
    --input: var(--border);
    --border: oklch(0.91887 0 0);
    --ring: oklch(0.708 0 0);
    --editor: oklch(1 0 0);
    --editor-foreground: oklch(0.251965 0 0);
}

.dark {
    --background: oklch(0.276848 0 0);
    --foreground: oklch(0.934025 0 0);
    --primary: var(--foreground);
    --primary-foreground: var(--background);
    --secondary: oklch(0.28908 0 0);
    --secondary-foreground: var(--foreground);
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --muted: var(--secondary);
    --muted-foreground: oklch(0.725157 0 0);
    --destructive: oklch(0.659729 0.216849 23.809);
    --input: var(--border);
    --border: oklch(0.321093 0 0);
    --ring: oklch(0.556 0 0);
    --editor: oklch(0.22645 0 0);
    --editor-foreground: oklch(0.88837 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html,
    body,
    #app {
        @apply h-full w-full overflow-hidden overscroll-none;
    }

    html {
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-text-size-adjust: 100%;
    }

    body {
        @apply bg-background font-ui text-sm text-foreground;
        @apply cursor-default antialiased select-none;
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        @apply cursor-pointer;
    }

    input,
    input::-webkit-inner-spin-button {
        @apply appearance-none;
    }
}
